<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
	    <h5 class="my-0 mr-md-auto fw-normal">Company name</h5>
	    <nav class="my-2 my-md-0 mr-md-3">
	        <a class="p-2 text-dark" href="/">Home</a>
	        <a class="p-2 text-dark" href="/about">About</a>
	        <a class="p-2 text-dark" href="/posts">Posts</a>
	        <a href="/create-article" class="btn btn-warning">Создать</a>
	    </nav>
	</header>
	{% block body %}{% endblock %}
</body>
</html>