{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block body %} 
<div class="container">
	<main class="form-sign text-center">
	  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
	  <form method="post">
	    <input type="email" name='email' class="form-control" placeholder="Email address" required="" autofocus=""><br>
	    <input type="password" name='password' class="form-control" placeholder="Create password" required=""><br>
	    <button type="submit" class="w-100 btn btn-lg btn-primary">Sign up</button>
	  </form>
	</main>
</div>
{% endblock %}